<br>
    <h2>User Registration Form:</h2>
<br>

<form [formGroup]="userCreateForm">


    <input type="text" placeholder="First Name" minlength="2" maxlength="50" formControlName="firstName">

    <br>
    <span style="color:red" *ngIf='firstName && firstName.invalid && firstName.touched'>Minimum Length should be 2 and
        Maximum 50</span>

    <br>

    <input type="text" placeholder="Last Name" minlength="2" maxlength="50" formControlName="lastName">
    <br>
    <span style="color:red" *ngIf='lastName && lastName.invalid && lastName.touched'>Minimum Length should be 2 and
        Maximum 50</span>
    <br>
    <select formControlName="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    <br>
    <br>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <br>

    <input type="text" placeholder="City" formControlName="city">

    <br>
    <br>


    <input type="tel" placeholder="phone" minlength="11" maxlength="11" formControlName="phone" pattern="01[3,4,6,7,8,9]{1}[0-9]{8}">

    <br>
    <span style="color:red" *ngIf='phone && phone.invalid && phone.touched'>Please enter a valid phone number</span>

    <br>



    <input type="text" placeholder="email" formControlName="email">

    <br>
    <span style="color:red" *ngIf='email && email.invalid && email.touched'>Please enter a valid email</span>

    <br>



    <button (click)="submitForm()">Submit</button>



    <br>

    <br>

</form>